<!-- inherit from base.html -->
{% extends 'food_app/base_template.html' %}
{% load static %}

<!-- Profile view for a user -->
{% block content %}
  <style>
    body {
      background-color: rgb(219, 205, 200);
      overflow-x: hidden;
    }
    
    .profile-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .profile-header {
      display: flex;
      justify-content: center;
    }
    
    .review-list {
      border-color: rgb(67, 30, 10);
      border-style: solid;
      border-width: 5px;
    }
  </style>

  {% if profile.is_private and profile.user.username != user.username %}
    <h3 style="margin-top: 50px">This user's profile is private.</h3>
  {% else %}
    <div class="profile-top">
      <!-- Display review image if the user chose to upload one (images are optional) -->
      {% if profile.image %}
        <img class="rounded-circle article-img" src="{{ profile.image.url }}" height="175" width="175" alt="{{ profile.name }}'s Profile Picture" />
      {% else %}
        <img src="{% static 'images/default-pfp.png' %}" height="175" width="175" alt="Default Review Image" />
      {% endif %}

      <!-- Ensure user can only update their own profile -->
      <div class="profile-header">
        <h1>{{ profile.name }}</h1>
        {% if profile.user.username == user.username %}
          <a class="btn btn-primary" href="{% url 'update-profile' %}" style="margin-left: 20px; margin-top: 5px; height: 40px;" role="Edit Profile">Edit Profile</a>
        {% endif %}
      </div>

      {% if profile.biography %}
        <p>
          <strong>About: </strong>{{ profile.biography }}
        </p>
      {% endif %}

    </div>

    {% if review_list %}
      <h2>Reviews</h2>

      <div class="row">
        {% for review in review_list %}
          <div class="col-md-3 mb-4">
            <div class="card" style="max-height: 400px; max-width: 300px; background-color: rgb(219, 205, 200);">
              {% if review.image %}
                <img src="{{ review.image.url }}" class="card-img-top" width="300" height="200" alt="{{ review.name }} Image" />
              {% else %}
                <img src="{% static 'images/default-img.png' %}" alt="Default Review Image" />
              {% endif %}

              <div class="card-body">
                <h5 class="card-title">{{ review.name }}</h5>

                <!-- Displays star rating based on the 1-5 value user entered for a numeric rating of the food -->
                {% if review.rating == 1 %}
                  <img src="{% static 'images/Star_rating_1_of_5.png' %}" class="img-fluid" />
                {% elif review.rating == 2 %}
                  <img src="{% static 'images/Star_rating_2_of_5.png' %}" class="img-fluid" />
                {% elif review.rating == 3 %}
                  <img src="{% static 'images/Star_rating_3_of_5.png' %}" class="img-fluid" />
                {% elif review.rating == 4 %}
                  <img src="{% static 'images/Star_rating_4_of_5.png' %}" class="img-fluid" />
                {% elif review.rating == 5 %}
                  <img src="{% static 'images/Star_rating_5_of_5.png' %}" class="img-fluid" />
                {% endif %}

                <p class="card-text">{{ review.description }}</p>

                <!-- Direct user to review detail page -->
                <a href="{{ review.get_absolute_url }}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h2 style="text-align: center; padding-top: 70px;">This user has no food reviews.</h2>
    {% endif %}
  {% endif %}
{% endblock %}
