{% load static %}
<!DOCTYPE html>

<!-- Base Template for each HTML page displaying the navbar-->

<html lang="en">

  <style>
    .navbar-custom {
      background-color: rgb(127, 119, 116, 0.85);
    }
    
    .navbar-custom .navbar-nav .nav-link {
      color: black;
      font-weight: bold;
    }
  </style>

  <head>

    <title>Food Reviews</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-custom lead">
      <img src="{% static 'images/foodreview.jpg' %}" height="64" width="64" />
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- add block content from html template -->
    {% block content %}

    {% endblock %}

  </body>
</html>
