{% load static %}
<!DOCTYPE html>

<!-- Base Template for each HTML page displaying the navbar -->

<html lang="en">
  <style>
    .navbar-custom {
      background-color: rgb(127, 119, 116, 0.85);
    }
    
    .navbar-custom .navbar-nav .nav-link {
      color: black;
      font-weight: bold;
    }
    
    .navbar-profile {
      color: black;
      margin-right: 20px;
    }
  </style>

  <head>
    <title>TasteBuds</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-custom lead">
      <img src="{% static 'images/foodreview.png' %}" height="70" width="70" />
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="{% url 'reviews' %}" id="reviews">Reviews</a>
          </div>
        </div>

        {% if not request.user.is_authenticated %}
          <span><a class="navbar-profile" href="{% url 'login' %}">Sign In</a></span>
        {% else %}
          <span><a class="navbar-profile" href="{% url 'profile' %}">Profile</a></span>
          <span><a class="navbar-profile" href="{% url 'logout' %}">Log Out</a></span>
        {% endif %}
      </div>
    </nav>

    <!-- add block content from html template -->
    {% block content %}

    {% endblock %}
  </body>
</html>
