<!-- inherit from base.html -->
{% extends 'food_app/base_template.html' %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
  <style>

    body {
      background-image: url("static/images/home_bg.png");
      background-size: cover;
    }

    h1 {
      font-size: 100px;
    }

    .header {
      display: flex; 
      flex-direction: column; 
      justify-content: center;
      text-align: center; 
      height: 40vh;
    }  
    

  </style>

  <div class="header">
    <h1>Food Reviews</h1>
    <h2>More to come</h2>
  </div>

{% endblock %}
