<!-- inherit from base.html -->
{% extends 'food_app/base_template.html' %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
  <style>

    body {
      background-image: url("static/images/home_bg.png");
      background-size: cover;
    }

    h1 {
      font-size: 100px;
    }

    .header {
      display: flex; 
      flex-direction: column; 
      justify-content: center;
      text-align: center; 
      height: 80vh;
    }  
    

  </style>

  <div class="header">
    <h1>Food Reviews</h1>
    <br>
    <h3>• Share your opinion on your favorite (and least favorite) foods! </h3>
    <br>
    <h3>• View reviews by your friends, family, or other people! </h3>
    <br>
    <h3>• Find new food recommendations to try for yourself! </h3>
    <br>
    <br>
    <h2>Click 'Reviews' to begin!</h2>
  </div>

{% endblock %}
