{% extends 'food_app/base_template.html' %}

{% block content %}
  <style>
    body {
      background-color: rgb(219, 205, 200);
    }
    
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
    }

    form {
      text-align: left; /* Adjust text alignment for the form */
    }
  </style>

  <div class="center-container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <br>
      <a class="btn btn-secondary" href="{% url 'review-detail' pk=pk %}" role="Back">Back</a>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>
  
{% endblock %}
