{% extends 'food_app/base_template.html' %}

<!-- Form used to update a review -->

{% block content %}
  <style>
    body {
      background-color: rgb(219, 205, 200);
    }
  </style>

  <div class="center-container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <br>
      <!-- Go back to detail page of review we're updating -->
      <a class="btn btn-secondary" href="{% url 'review-detail' pk=pk %}" role="Back">Back</a>
      <!-- Update review -->
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>
  
{% endblock %}
