{% extends 'food_app/base_template.html' %}

<!-- Form used to create a review -->

{% block content %}

  <style>
    body {
      background-color: rgb(219, 205, 200);
    }
  </style>

  <div class="center-container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table>{{ form.as_table }}</table>
      <br>
      <!-- Go back to reviews page -->
      <a class="btn btn-secondary" href="{% url 'reviews' %}" role="Back">Back</a>
      <!-- Create the review -->
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>

{% endblock %}
