{% extends 'food_app/base_template.html' %}
{% load static %}

<!-- Displays the list of reviews through Bootstrap's table class -->
<!-- Shows the food, rating, image of a review -->
<!-- To view details of a review, user can click view on the details column -->
<!-- To create a new review, user can click create review on the top of the page -->

{% block content %}
  <style>
    body {
      background-color: rgb(219, 205, 200);
    }
    
    .image {
      height: 200px;
      width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    td {
      width: 25%;
    }
  </style>

  <!-- Allow user to create a new review -->
  <h1 style="margin-top: 10px">Review List</h1>

  {% if request.user.is_authenticated %}
    <a class="btn btn-success" style="margin-bottom: 10px;" href="{% url 'create-review' %}" role="button">Create a Review</a>
  {% endif %}

  {% if review_list %}
    <div class="row">
      {% for review in review_list %}
        {% if not review.author.is_private %}
          <div class="col-md-3 mb-4">
            <div class="card" style="max-height: 400px; max-width: 300px; background-color: rgb(219, 205, 200);">
              {% if review.image %}
                <img src="{{ review.image.url }}" class="card-img-top" width="300" height="200" alt="{{ review.name }} Image" />
              {% else %}
                <img src="{% static 'images/default-img.png' %}" alt="Default Review Image" width="300" height="200"/>
              {% endif %}

              <div class="card-body">
                <h5 class="card-title">{{ review.name }}</h5>

                {% if review.rating == 1 %}
                  <img src="{% static 'images/Star_rating_1_of_5.png' %}" class="star-rating" />
                {% elif review.rating == 2 %}
                  <img src="{% static 'images/Star_rating_2_of_5.png' %}" class="star-rating" />
                {% elif review.rating == 3 %}
                  <img src="{% static 'images/Star_rating_3_of_5.png' %}" class="star-rating" />
                {% elif review.rating == 4 %}
                  <img src="{% static 'images/Star_rating_4_of_5.png' %}" class="star-rating" />
                {% elif review.rating == 5 %}
                  <img src="{% static 'images/Star_rating_5_of_5.png' %}" class="star-rating" />
                {% endif %}

                <p class="card-text">{{ review.description }}</p>

                <!-- Direct user to review detail page -->
                <a href="{{ review.get_absolute_url }}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>There are no food reviews.</p>
  {% endif %}
{% endblock %}
