{% extends 'food_app/base_template.html' %}
{% load static %}

<!-- Review detail page, displaying the food, image, author, & details of a review -->
<!-- Allows user to update or delete review from this page -->

{% block content %}
  <style>
    body {
      background-color: rgb(219, 205, 200);
    }
  </style>

  {% if review.author.is_private and review.author.user != request.user %}
  
    <h3 style="margin-top: 50px">This user's reviews are private.</h3>

  {% else %}

    <h1 style="margin-top: 10px">Food: {{ review.name }}</h1>

    {% if review.author.is_private %}
      <a class="btn btn-secondary" href="{% url 'profile' %}" role="Back">Back</a><br /><br />
    {% else %}
      <a class="btn btn-secondary" href="{% url 'reviews' %}" role="Back">Back</a><br /><br />
    {% endif %}

    <!-- Display review image if user chose to upload one (images are optional) -->
    {% if review.image %}
      <img src="{{ review.image.url }}" height="200" width="300" alt="{{ review.name }} Image" />
      <!-- Otherwise, display default image -->
    {% else %}
      <img src="{% static 'images/default-img.png' %}" alt="Default Review Image" />
    {% endif %}


    <p><strong>Author:</strong> <a href="{% url 'profile-detail' review.author.username %}">{{ review.author.name }}</a></p>

    <p>
      <strong>Rating:</strong>

      <!-- Displays star rating based on the 1-5 value user entered for a numeric rating of the food -->
      {% if review.rating == 1 %}
        <img src="{% static 'images/Star_rating_1_of_5.png' %}" height="28" width="130" alt="1/5 Stars" />
      {% elif review.rating == 2 %}
        <img src="{% static 'images/Star_rating_2_of_5.png' %}" height="28" width="130" alt="2/5 Stars" />
      {% elif review.rating == 3 %}
        <img src="{% static 'images/Star_rating_3_of_5.png' %}" height="28" width="130" alt="3/5 Stars" />
      {% elif review.rating == 4 %}
        <img src="{% static 'images/Star_rating_4_of_5.png' %}" height="28" width="130" alt="4/5 Stars" />
      {% elif review.rating == 5 %}
        <img src="{% static 'images/Star_rating_5_of_5.png' %}" height="28" width="130" alt="5/5 Stars" />
      {% endif %}
    </p>

    <p><strong>Details:</strong> {{ review.details }}</p>

    {% if review.author.username == user.username %}
      <a class="btn btn-primary" href="{% url 'update-review' review.id %}" role="Update">Update</a>
      <a class="btn btn-danger" href="{% url 'delete-review' review.id %}" role="Delete">Delete</a>
    {% endif %}

  {% endif %}

{% endblock %}
