{% extends 'food_app/base_template.html' %}

{% block content %}

  <h1>Food: {{ review.name }}</h1>

  {% if review.image %}
    <img src="{{ review.image.url }}" height="200" width="300" alt="Food Image" />
  {% endif %}

  <p><strong>Rating:</strong> {{ review.rating }}/5</p>
  <p><strong>Details:</strong> {{ review.details }} </p>

  <a class="btn btn-primary" href="{% url 'reviews' %}" role="Back">Back</a>
  <a class="btn btn-primary" href="{% url 'update-review' review.id %}" role="Update">Update</a>

{% endblock %}
