{% extends 'food_app/base_template.html' %}
{% load static %}

<!-- Warning page user is led to before deleting a food review -->

{% block content %}

  <style>
    body {
      background-color: rgb(219, 205, 200);
    }
    
    .center-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 50vh;

      border-style: solid;
      border-color: rgb(67, 30, 10);
      border-width: 3px;

      margin-top: 100px;
      margin-left: 100px;
      margin-right: 100px;
    }
  </style>

  <div class="center-container">

    <h3 style="margin-top: 10px;"> ⚠︎ CAUTION!</h3>
    <h3 style="margin-top: 30px;">Are you sure you want to delete "{{ item }}"?</h3><br>

    <form action="{% url 'delete-review' item.id %}" method="POST">
      {% csrf_token %}

      <!-- User chooses not to delete review -->
      <a class="btn btn-primary btn-lg" href="{% url 'review-detail' pk=item.id %}">Cancel</a>

      <!-- User chooses to delete review -->
      <input type="submit" name="Confirm" style="width: 100px; height: 40px;" />
    </form>
  </div>

{% endblock %}
