{% extends 'food_app/base_template.html' %}

{% block content %}
  <h1>Review List</h1>
  <a class="btn btn-primary" href="{% url 'create-review' %}" role="button">Create</a>

  {% if review_list %}
    <ul>
      {% for review in review_list %}
        <li>
          {{ review.name }} <a class="btn btn-primary" href="{{ review.get_absolute_url }}" role="button">View</a>
          <a class="btn btn-danger" href="{% url 'delete-review' review.id %}" role="Delete">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no food reviews.</p>
  {% endif %}
{% endblock %}
